
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
*.csv
*.json


# Virtual env
.venv/
.env
.claude/



# Data
data/**/*.wav

*.csv
*.wav

# Models
models/
*.pt
*.pth
*.h5

# System files
.DS_Store
Thumbs.db
# Ignore specific training script
train_emotion_classifier_copy_T.py


