
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual env
.venv/
venv/
.env
.vscode/

# Data
data/
Preprocessed Data/combined_data.csv
Extracted Features/combined_wav2vec_features.csv
Extracted Features/
deployment/
*.csv
*.wav
results/inference_predictions.json
Preprocessed Data/*distribution.png
results/*confusion_matrix_normalized.png

# Models
models/
*.pt
*.pth
*.h5

# System files
.DS_Store
Thumbs.db
# Ignore specific training script
train_emotion_classifier_copy_T.py
